/* Top-level grid layout */
#puzzle {
  display: grid;
  grid-template: "        . column-hints" max-content
                 "row-hints      picture" max-content / max-content max-content;
}
#column-hints { grid-area: column-hints; }
#row-hints    { grid-area: row-hints;    }
#picture      { grid-area: picture;      }

/* Column-hints is a flexbox row of flexbox columns */
#column-hints {
  display: flex;
  flex-direction: row;
}
#column-hints .hint-group {
  display: flex;
  flex-direction: column;
}

/* Row-hints is a flexbox column of flexbox rows */
#row-hints {
  display: flex;
  flex-direction: column;
}
#row-hints .hint-group {
  display: flex;
  flex-direction: row;
}

/* The picture is a flexbox column of flexbox rows */
/* NOTE: It seems that there could be a better way of doing this using CSS grid */
#picture {
  display: flex;
  flex-direction: column;
}
#picture .picture-row {
  display: flex;
  flex-direction: row;
}

/* Puzzle element styles */

/* Center the puzzle horizontally */
#puzzle {
  margin: 0 auto;
  width: max-content;
}

/* Size the elements */
#puzzle div {
  box-sizing: border-box;
}
.element {
  font-size: 12px;
  text-align: center;
  width: 15px;
  height: 15px;
}

/* Borders */
/* Each element will handle the top and left border */
.element {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
/* The hints and picture will handle the bottom and right */
#column-hints {
  border-right: 1px solid black;
}
#row-hints {
  border-bottom: 1px solid black;
}
#picture {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/* Hovering over an element changes the background */
.element:hover {
  background-color: gray;
}